@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #black;
}

html {
  width: 100%;
}

body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 97.8;
  background-color: #fef4ea;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Uso general */

.cursor-pointer {
  cursor: pointer;

}

.bg-lavender{
  background-color: #ffebf3;
}

.bg-black {
  background-color: #111010;
}

.bg-azul {
  background-color: #5b54ca;
}

.bg-azul3 {
  background-color: #5b54ca;
}

.bg-azul4 {
  background-color: #85d4f2;
}

.bg-morado {
  background-color: #ab6afe;
}

.bg-morado2 {
  background-color: #ac66c3;
}

.bg-amethyst{
  background-color: #8f79e7;
}

.txt-blue{
 color: #454fc7;
}

.txt-amethyst{
  color: #8f79e7;
}

.txt-morado {
  color: #ac66c3;
}

.txt-rosado {
  color: #e6a4d0;
}

.bg-morado3 {
  background-color: #ac66c3;
}

.bg-amarillo {
  background-color: #feed02;
}

.bg-naranja {
  background-color: #f67a58;
}

.bg-palorosa{
  background-color: #dd6e84;
}

.bg-rosa {
  background-color: #e6a4d0;
}

.bg-azul2 {
  background-color: #5b54ca;
}

.txt.palorosa{
  background-color: #dd6e84;
}

.txt-verde-lima {
  color: #98FB98;
}

.bg-verde {
  background-color: #52FFB8;
}

.txt-white {
  color: #fff;
}

.txt-black {
  color: #111;
}

.logoPatitas {
  width: 60px;
  animation: none;
}

.transition {
  transition: all 1s;
}

.opacity1 {
  opacity: 1;
}

.opacity0 {
  opacity: 0;
}

/* Scroll personalizado */

body::-webkit-scrollbar {
  width: 7px;
  border: none;

}

body::-webkit-scrollbar-thumb {
  background-color: #05182c;
}

/* Animaciones */
@keyframes show {
  from {
    scale: 25%;
    opacity: 0;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

/*
img,.card{
  view-timeline: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
*/