@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #black;
}
html {
  width: 100%;
}

body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 97.8;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Uso general */

.cursor-pointer {
  cursor: pointer;

}

.bg-black {
  background-color: #111010;
}

.bg-azul {
  background-color: #547AA5;
}

.bg-rosa {
  background-color: #EC058E;
}

.txt-verde-lima{
  color: #98FB98;
}

.bg-verde {
  background-color: #52FFB8;
}

.txt-white {
  color: #fff;
}

.txt-black{
  color: #111;
}
  
.logoPatitas {
  width: 60px;
  animation: none;
}
.transition{
  transition: all 1s;
}

.opacity1{
  opacity: 1;
}
.opacity0{
  opacity: 0;
}

.active {
  background-color: white;
  border-radius: 5px;
  color: #EC058E;
}

/* Scroll personalizado */

body::-webkit-scrollbar {
  width: 7px;

}

body::-webkit-scrollbar-thumb {
  background-color: #EC058E;
  border-radius: 7px;
}

/* Animaciones */
@keyframes show {
  from {
    scale: 25%;
    opacity: 0;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

img,.card{
  view-timeline: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}