* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formClass {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px 10px;
    transition: all .3s ease-in-out;
    height: 100%;
    justify-content: center;
    background: white;
}

.formClass .title {
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    margin: 10px 0px;
    color: #dd6e84;
}

.formClass .inputClass {
    height: 50px;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    background-color: gainsboro;
    font-weight: 200;
    width: 100%;
    border-radius: 5px
}

.formClass .inputClass:focus {
    outline: none;
}

.formClass .linkClass {
    text-decoration: none;
    margin: 10px 0px;
    text-align: end;
    color: #dd6e84;
    font-size: 12px;
}

.formClass .formButton {
    width: 40%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    border-radius: 20px;
    border: none;
    background-color: #dd6e84;
    color: white;
    font-size: 15px;
    cursor: pointer;

}

.formClass .icon {
    width: 80px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid rgb(165, 165, 165);
    background-color: transparent;
    cursor: pointer;

}

.formClass .g-icon {
    width: 100%;
}

.formClass .f-text {
    font-weight: 200;
    text-align: center;
    margin: 10px 0;
}

.colForm {
    padding: 10px;
    width: 100%;
    background-color: #dd6e84;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;

    img {
        width: 80%;
    }
}

.colForm .colButton {
    width: 50%;
    height: 40px;
    display: inline-block;
    margin: 10px auto;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}

.authForm {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 10vh auto;
    min-height: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.authForm.inverso {
    margin: 20px auto;
}

.authForm.inverso .formClass {
    transform: translateX(100%);
}

.authForm.inverso .colForm {
    transform: translateX(-100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #692e82;
    color: white;
}

.authForm.inverso .colButton {
    border-color: white;
}

.authForm.inverso .formButton {
    background-color: #692e82;
}

.contForm {
    width: 100%;
}

label {
    font-weight: 200;
}

.authForm .error {
    color: #dd6e84;
    font-size: 15px;
    font-weight: 200;
    padding: 5px 5px;
    border-radius: 10px;
    width: max-content;
    font-family: Arial, Helvetica, sans-serif;

}

.authForm.inverso .error,
.authForm.inverso .title {
    color: #692e82;
}

.formClass .group {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.formClass .subgroup {
    width: 100%;
}

select {
    width: 100%;
    margin: 10px 0px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}