*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formClass{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px 10px;
    transition: all .3s ease-in-out;
    height: 100%;
    box-shadow: 1px 1px 4px 1px rgb(146, 146, 146); 
    justify-content: center;
}
.formClass .title{
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    margin: 10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.formClass .inputClass{
    height: 50px;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    background-color: gainsboro;
    font-weight: 500;  
    width: 100%;
    border-radius: 5px
}
.formClass .inputClass:focus{
    outline: none;
}

.formClass .linkClass{
    text-decoration: none;
    margin: 10px 0px;
    text-align: end;
    color: #1CA6DC;
    font-size: 12px;
}

.formClass .formButton{
    width: 40%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    border-radius: 20px;
    border: none;
    background-color: #52FFB8;
    color: white;
    font-size: 15px;
    cursor: pointer;
    
}

.formClass .icon{
    width: 80px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid rgb(165, 165, 165);
    background-color: transparent;
    cursor: pointer;
    
}
.formClass .g-icon{
    width: 100%;
}

.formClass .f-text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 10px 0;
}

.colForm{
    padding: 10px;
    width: 100%;
    background-color: #52FFB8;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    transition: all .3s ease-in-out; 
}

.colForm .title{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin: 10px 0;
}

.colForm .colButton{
    width: 50%;
    height: 40px;
    display: inline-block;
    margin: 10px auto;
    color: inherit;
    border-radius: 20px;
    border: 2px solid black;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}

.colForm .subtitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    margin: 10px 0;
}

.authForm{
    display: flex;
    flex-direction: row;  
    width: 60%;
    margin: 10vh auto;
    min-height: 500px;
}

.authForm.inverso{
    margin: 20px auto;
}

.authForm.inverso .formClass{
    transform: translateX(100%);  
}
.authForm.inverso .colForm{
    transform: translateX(-100%); 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #ec058f;
    color:white;
}

.authForm.inverso .colButton{
    border-color: white;
}
.authForm.inverso .formButton{
    background-color: #ec058f;
}
.contForm{
    width: 100%;
}

.authForm .error{
    color: #07f390;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 5px;
    border-radius: 10px;
    width:max-content;
    font-family:Arial, Helvetica, sans-serif;
    
}
.authForm.inverso .error{
    color: #ec058f;
}
.formClass .group{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.formClass .subgroup{
    width: 100%;
}

select{
    width: 100%;
    margin: 10px 0px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}