.container-adopcion {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .adop-header {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    height: 250px;
    overflow: hidden;

    .adop-col1,
    .adop-col2 {
      display: flex;
      justify-content: center;
    }

    .adop-col1 {
      width: 100%;
      align-items: center;
      position: relative;
      display: flex;
      gap: 1em;

      .adop-col-cont {
        padding: 1em 2em;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: .5em;

        .adop-icon {
          font-size: 2em;
        }

        h3 {
          z-index: 1;
          font-size: 1em;
          font-weight: 700;
          border-radius: 10px;
          font-weight: 200;
        }
      }
    }

    .adop-col2 {
      width: 100%;
      overflow: hidden;
      align-items: top;
      position: relative;

      .bone {
        position: absolute;
        z-index: 0;
        top: -20%;
        transform: rotate(50deg);
        height: 150%;
      }

      img {
        z-index: 1;
        height: 150%;
        object-position: top;
      }
    }
  }

  .adop-container-cards {
    padding: 2rem 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    gap: 1rem;
  }
}

.modal {
  .buttons {
    width: 60%;
    display: flex;
    gap: 1rem;

    button {
      cursor: pointer;
      width: 100%;
      height: 25px;
      padding: 0 5px;
      font-size: 14px;
      font-weight: 300;
      border: none;
      border-radius: 5px;
    }
  }
}

.pet-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 200px;
  gap: 1rem;

  .c-pet-icon {
    display: flex;
    flex-direction: column;

    .pet-class {
      display: flex;
      align-items: center;
      gap: .5em;

      span {
        font-size: 10px;
      }

      margin-top: 1em;
      font-weight: 200;
      font-size: 1em;
    }
  }

  .pet-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding: 1.1em;
    cursor: pointer;

    &:hover {
      img {
        transition: all 1s ease;
        transform: scale(1.1);
      }
    }

    img {
      width: 100%;
    }
  }
}

.c-search {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;

  .pet-search {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    width: 30%;
    position: relative;

    .in-search {
      width: 80%;
      outline: none;
      border: none;
      background-color: transparent;
    }
  }
}

@media only screen and (max-width: 900px) {
  .c-search {
    .pet-search {
      width: 60%;
    }
  }

  .container-adopcion {
    .adop-header {
      .adop-col1 {
        flex-direction: column;
      }
    }
  }
}