.adtable-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: auto;

    .pet-search {
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px 20px;
        display: flex;
        width: 50%;
        position: relative;
        
        .in-search {
            width: 80%;
            outline: none;
            border: none;
            background-color: transparent;
        }
    }

    .adds {
        display: flex;
        justify-content: end;
        padding: 1em 0em;
        width: 100%;
        gap: 1em;

        .add {
            border: none;
            padding: .5em 1em;
            border-radius: 10px;
        }
    }

    table {
        width: 100%;

        img {
            height: 40px;
            width: 40px;
        }



        td {
            font-size: .8em;
            text-transform: lowercase;

            img {
                border-radius: 100%;
            }
        }
    }
}