.bg-lavender {
  background-color: #ffebf3;
}

.bg-white {
  background-color: white;
}

.bg-white2 {
  background-color: #f4f4f4;
}

.bg-white3 {
  background-color: rgba(179, 168, 226, .2);
}

.bg-black {
  background-color: #111010;
}

.bg-azul {
  background-color: #5b54ca;
}

.bg-morado2 {
  background: #b3a8e2;
}

.bg-amethyst {
  background-color: #8f79e7;
}

.bg-amethyst2 {
  background-color: #8f79e7bd;
}

.bg-rosa {
  background-color: #f98cf9;
}

.bg-rosa2 {
  background-color: #f98cf9;
}

.bg-rosa-gradient {
  background: rgb(230, 164, 208);
  background: radial-gradient(circle, rgba(230, 164, 208, 1) 0%, rgba(255, 235, 243, 1) 73%);
}

.bg-morado-gradient {
  background: rgb(230, 164, 208);
  background: linear-gradient(270deg, rgba(230, 164, 208, 1) 10%, rgba(172, 102, 195, 1) 100%);
}

.bg-rosa-gradient2 {
  background: rgb(172, 102, 195);
  background: linear-gradient(270deg, rgba(172, 102, 195, 1) 10%, rgba(230, 164, 208, 1) 100%);
}

.bg-gray {
  background-color: rgb(244, 244, 244);
}

.txt-blue {
  color: #454fc7;
}

.txt-amethyst {
  color: #8f79e7;
}

.txt-morado {
  color: #b3a8e2;
}

.borde-morado {
  border: 3px solid #b3a8e2;
}

.borde-rosado {
  border: 5px solid #ff82ff;
}

.borde-black {
  border: 3px solid #000000;
}

.borde-white {
  border: 3px solid white;
}

.txt-rosado {
  color: #f98cf9;
}

.txt-palorosa {
  color: #dd6e84;
}

.txt-white {
  color: #fff;
}

.txt-black {
  color: #111;
}

.bg-gradient-moazul {
  background: rgb(172, 102, 195);
  background: linear-gradient(20deg, rgba(172, 102, 195, 0.8016456582633054) 0%, rgba(145, 120, 229, 1) 100%);
}