.container-adopcion {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  header {
    display: flex;
    flex-direction: row;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .col1 {
      padding: 6rem 5rem 1rem 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h3 {
        font-size: 2rem;
        font-weight: 700;
      }

      p {
        font-weight: 100;
      }
    }

    .col2 {
      width: 30%;
      display: flex;
      align-items: end;

      .img1 {
        height: 300px;
        border-top-right-radius: 100%;
      }
    }
  }

  .container-cards {
    margin: 2rem 1rem !important;
    padding: 2rem 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    gap: 1rem;
  }

  .card-adoption {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .cont {
      margin: 0 !important;
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      width: 100%;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      background-color: white;
      overflow: hidden;
      padding: 0px 10px 10px;

      .title {
        color: black;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
      }

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: top;
        border-radius: 100%;
        border: 5px rgba(143, 121, 231, 0.425) solid;
      }

      .info {
        width: 90%;
        font-weight: 500;
        position: relative;

        p {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          gap: 1.5rem;
          font-weight: 100;
          color: #716c6c;
          width: 100%;

          span {
            color: black;
            font-weight: 500;
          }
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      width: 100%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 10px;
      overflow: hidden;

      button {
        width: 100%;
        height: 35px;
        font-size: 1.1rem;
        font-weight: 600;
        border: none;
        color: white;
      }
    }

  }
}

.modal {
  .buttons {
    width: 60%;
    display: flex;
    gap: 1rem;

    button {
      cursor: pointer;
      width: 100%;
      height: 25px;
      padding: 0 5px;
      font-size: 14px;
      font-weight: 300;
      border: none;
      border-radius: 5px;
      color: white;
    }
  }
}