:root {
    --color1: #e6a4d0;
    --color2: #ac66c3;
}

.dropdown_wrapper {
    position: relative;
    display: inline-block;
}

.dropdown_activator {
    align-items: center;
    background-color: inherit;
    border: none;
    height: 100%;
    color: gray;
    font-weight: 500;
    letter-spacing: 1.1px;
    display: flex;
    align-items: center;
    font-size: inherit;
    padding: 1rem 0.6rem;
    cursor: pointer;
    width: 100%;
}

.dropdown_item_list {
    background: white;
    display: none !important;
    margin: 0;
    z-index: 2;
    position: absolute;
    box-shadow: 0 0 2px 0 gray;
    border-radius: 5px;
    padding: 0;
    right: 10%;
}

.dropdown_item_list.active {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    border: none !important;
}

.item_list {
    list-style: none;
}

.item_list:last-child a {
    border-bottom: none;
}

.item_list a,
.item_list a:link {
    display: flex;
    color: #666666;
    font-weight: 600;
    text-decoration: none;
    padding: 0.8rem;
    transition: all 0.1s linear;
}

.item_list a:hover {
    background-color: var(--color2);
    color: white;
}