/* Diseño del apartado de CondicionesAdopcion */
.container-condiciones {
  width: 100%;
  display: flex;
  margin-top: 3rem;

  .container-b {
    display: flex;
    justify-content: center;

    a {
      position: relative;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 10px;
      margin-top: 2rem;
      width: 30%;
      text-align: center;

      box-shadow: rgba(100, 100, 111, .4) 0px 7px 29px 0px;
      animation: flotante 3s ease-in-out infinite alternate;

      .hand {
        position: absolute;
        font-size: 1.5rem;
        bottom: -1.5rem;
        left: 0;
      }
    }
  }


  .container-codicionesAdopcion {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.4em;
    padding: 2rem;

    .container-condicion {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1rem;
      font-size: 1.1rem;
      gap: 1.2rem;
    }

    .container-tittle {
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
      }
    }
  }

  .c-img-condiones {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      position: relative;
      height: 400px;
      width: 400px;
      border-radius: 100%;

      img {
        position: absolute;
        bottom: -1.5rem;
        left: 0;
        height: 100%;
      }
    }

    .line1 {
      position: absolute;
      bottom: 10%;
      right: 0;
      width: 25%;
      transform: rotate(-30deg);
    }

    .line2 {
      position: absolute;
      top: 10%;
      left: 0;
      width: 40%;
      transform: rotate(-80deg);
    }
  }
}

@keyframes flotante {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}

@media only screen and (max-width: 900px) {
  .container-condiciones {
    .c-img-condiones {
      display: none !important;
    }
  }
}